/* CSS Document ver1.2.7 */
/*edit Object*/
.line.hover{
	background-color:rgba(225, 0, 0, .1);
}
.price.hover{
	background-color:rgba(225, 0, 0, .4);
}
.title.hover{
	background-color:rgba(133, 0, 255, .3);
}
.remark.hover{
	background-color:rgba(0, 255, 255, .3);
}
.link.hover{
	background-color:rgba(255, 112, 0, .6);
}
.posaLink{
	background-color:rgba(0, 255, 0, .2);
}
.posaLink.hover{
	background-color:rgba(0, 255, 0, .3);
}
.posaTextArea.hover{
	background-color:rgba(0, 0, 255, .2);
}
.posaUpdate.hover{
	background-color:rgba(43, 13, 13, .2);
}
.cssLink.hover,.jsLink.hover{
	background-color:rgba(255, 255, 255, .5);
}
.posaDiv.hover{
	background-color:rgba(0, 255, 255, .2);
}
.draggableObject
{
    outline:#CCC solid 1px;
    }
.line,.posaLink,.posaTextArea,.posaUpdate,.cssLink,.jsLink{
	cursor:move;
	-moz-user-select: none; /*火狐*/
   -webkit-user-select: none;  /*webkit浏览器*/
   -ms-user-select: none;   /*IE10*/
   -khtml-user-select: none; /*早期浏览器*/
   user-select: none;
}
.line .link{
	cursor:move;
}
#content{
	width:100%;
	height:100%;
}
.inner{
	/* border:1px solid #F0F; */
}
.Select .inner .tagTips{
	background-color:#F0F;
	color:#FFF;
}
.inner.Select{
	/* border:1px solid #FF0; */
}
.inner .tagTips{
	top:-17px;
	left:0px;
	display:none;
}
.dataCont{
	background-color:rgba(0, 225, 225, .1);
	-moz-user-select: none; /*火狐*/
   -webkit-user-select: none;  /*webkit浏览器*/
   -ms-user-select: none;   /*IE10*/
   -khtml-user-select: none; /*早期浏览器*/
   user-select: none;
}
.tagTips{
	font-family:'宋体';
	font-size:12px;
	top:-17px;
	left:0px;
	background-color:#F0F;
	color:#FFF;
	padding:1px 2px;
	font-weight:normal;
	line-height:normal;
	display:none;
}
.close{
	top:0px;
	right:0px;
	background-color:#FF0;
	color:#F0F;
	width:10px;
	height:12px;
	line-height:6px;
	font-size:19px;
	display:none;
	padding:2px;
	cursor:pointer;
	font-weight:normal;
	font-family:'microsoft yahei'
}
.Select,.Select.hover{
	background-color:rgba(225, 225, 0, .1);
}
.Select .tagTips{ 
	background-color:#FF0;
	color:#F0F;
}
.Select .close{
	display:block;
}
.btnClicked{
	color:#F0F;
}

/*pannel*/
.pannel{
	position:fixed;
	width:200px;
	height:100%;
	background-color:#FFF;
	top:0;
	left:0;
	z-index:9999999;
	font-size:12px;
	border-right:1px solid #CCC;
	overflow-y:scroll;
}
.pannel h3 { background:#0F0;margin:0;font-size:13px;font-weight:normal;font-family:Arial,'microsoft yahei';}
.pannel h3 a:hover{text-decoration:underline;}
.pannel h3 i{font-size:12px;}
.pannel h4{margin:3px 0;}
.pannel ul{
	margin:5px;
}
.pannel ul li
{
    position:relative;
}
.pannel ul .colorRow
{
    height:40px;   
}
.pannel ol{
	margin:5px;
}
.pannel .center{
	text-align:center;
}
.pannel .attr .num{
	width:60px;
}
.pannel .attr .colorDiv{
	width:15px;
	height:15px;
	display:inline-block;
	border:1px solid #CCC;
}

/*粘贴板*/
.copyBoard
{
    padding:3px;
    background-color:yellow;
    border:1px solid #CCC;
    position:fixed;
    right:0;
    top:0;
    z-index:99999;
    text-align:left;
    font-size:12px;
    width:110px;
}
.copyBoard button
{
    margin-top:5px;
    display:block;
 }
 /*拾色器*/
 .colorpickerCont{
    position: absolute;
    width: 36px;
    height: 36px;
    background: url(/subject/edit/spe/colorpicker/images/select2.png)
}
.colorpickerCont div
{
    position: absolute;
    top: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    background: url(/subject/edit/spe/colorpicker/images/select2.png) center;
}
.cp1
{
    top: 0;
    left: 63px;
}
.colorpicker{
    z-index: 9999999;    
}  